<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <!-- <p *ngIf="products.length <= 0" class="no-data text-center">There is no product available!</p> -->
        <div class="table-responsive ">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5Star Ratings</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products;let i = index'>    
                        <td><img *ngIf='showImage'
                            [src]='product.imageUrl'
                            [title] = 'product.productName'
                            [style.width.px] = 'imageWidth'
                            [style.margin.px] = 'imageMargin'>
                        </td>
                        <td>
                           
                       
                        {{product.productName}}
                        </td>
                        <!-- <th scope="row">{{product.productCode}}</th> -->
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.starRating}}</td>
                        <!-- <th scope="row">{{product._id}}</th> -->
                        <!-- <td>{{product._objectId}}</td> -->
                        <td> <span class="edit" *ngIf="user.loggedIn()" [routerLink]="['/edit', product._id]">
                            <button type="button" class="btn btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                          </span>
                          <span class="delete"  *ngIf="user.loggedIn()" (click)="deleteProducts(product, i)">
                            <button type="button" class="btn btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                          </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
